.App {
  text-align: center;
   /* background-color: black; */
   background-image:url("https://media.istockphoto.com/id/1128533356/es/foto/rayones-acero-hexagonal-resumen-antecedentes-de-l%C3%ADneas-brillantes-de-color-naranja-de-dise%C3%B1o.jpg?s=612x612&w=0&k=20&c=RlGdTlUsckfDUs7dIO5F_bQnm9i2xZRPjh08z5rIzQw=");
   background-attachment: fixed;
   background-size: cover;
}

