.detail-container{
    display: flex;
    flex-direction:column;
    background-color: aqua;
    border: 1px solid grey;
    border-radius: 40px;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    background-color: rgba(3, 3, 0, 0.132);
    text-decoration: none;
    color: rgb(183, 124, 16);
    font-size: 17px;
    text-decoration: none;
   

}
/* img{
    width: 20%;
    border-radius: 30px;
}  */


.img-platform{
    width: 25px;
    height: 20px;
    border-radius: 100%;
}