.card-container {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border: 1px solid grey;
    border-radius: 40px;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    background-color: rgba(17, 1, 1, 0.333);
    text-decoration: none;
    color: rgb(253, 181, 38, 0.618);
    font-size: 18px;

}
img{
    width: 100%;
    border-radius: 30px;
} 
.head_card{
    display: flex; 
    justify-content: space-between;
} 

.card-container:hover{
    transform: scale(1.05);
    background-color: rgba(253, 181, 38, 0.225);
}
.genres{
    text-align:right;
    color:rgba(11, 174, 149, 0.406);

                                                
}
.genres:hover{
    color: aqua;
}
.card-link{
    color: #c08b22;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}
.card-link:hover{
    color: rgb(255, 0, 0);
}

.rating{
    color:rgb(1, 222, 60);
}
