body{
  background-color: black;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.home-title{
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 76px;
    color:rgb(253, 181, 38, 0.618)
}

.home{
  background-color: white;
  /* background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmC0PLUpbdWo5nhQs-uEFqsp1M62Es0CNR9A&usqp=CAU") ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    /* height: 1800px; */
    /* width: 2000px; */ 
    padding: 4px;
  background-position: center center;
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  /* height: 1800px; */
  /* width: 2000px; */
  padding: 4px;

} 
/* .home:hover {border-radius:60%;
  filter: sepia(60%);
  }; */
  .home:hover{
    filter: saturate(180%);
    

  }
  .Buton-Next{
    height:200px; width:200px
  }
/* .gif-home{

} */