body{
  background-color: black;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.home-title{
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 76px;
    color: aqua;
}

.home{
  /* background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmC0PLUpbdWo5nhQs-uEFqsp1M62Es0CNR9A&usqp=CAU") ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    height: 1800px;
    /* width: 2000px; */ 
    padding: 4px;
  background-image: url("https://www.xtrafondos.com/descargar.php?id=7962&resolucion=2560x1440");
  background-position: center center;
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  height: 1800px;
  /* width: 2000px; */
  padding: 4px;

} 
/* .home:hover {border-radius:60%;
  filter: sepia(60%);
  }; */
  .home:hover{
    filter: saturate(180%);
  }



