body{
  background-color: black;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.home-title{
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 76px;
    color:rgba(1, 0, 0, 0.555);
    font-family: fantasy;
}
.home-title:hover{

  color: rgb(253, 181, 38, 0.618);
  font-family: fantasy;
  
}

.home{
  background-color: rgb(0, 0, 0);
  background-image:url("https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2017/11/pc-4k-ultra.jpg") ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    /* height: 1800px; */
    /* width: 2000px; */ 
    padding: 4px;
  background-position: center center;
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  /* height: 1800px; */
  /* width: 2000px; */
  padding: 4px;
  
} 
/* .home:hover {border-radius:60%;
  filter: sepia(60%);
  }; */
  .home:hover{
    filter: saturate(180%);
    
    
  }
  .Buton-Next{
    position:absolute;
    top: 15%;
    right: 1%;
    font-size: 300%;
    background-color: rgb(3, 4, 1);
    opacity: 50%;
    color:gray
    
  }
.Buton-Next:hover{
  color:gold;
}

  .Buton-Prev{
    position:absolute;
    top: 15%;
    left: 1%;
    font-size: 300%;
    background-color: rgb(3, 4, 1);
    opacity: 50%;
    color:gray
  }

.Buton-Prev:hover{
  color:gold;
}


  .buton-link-home{
    /* color:rgb(253, 181, 38, 0  .618); */
    color: black;
    text-decoration: none;
    position: absolute;
    top: 1.5%;
    left: 1%;
    opacity: 70%;
    font-family: fantasy;


  }

  .buton-link-home:hover{
    color: rgba(253, 181, 38, 0.91);
    text-decoration: none;
    font-size: 35px;
    } 

    .Buton-Asc{

      position: absolute;
      top: 1%;
      left: 56.5%;
      font-size: 85%;
      background-color: gray;

    }




    .Buton-Desc{
      position: absolute;
      top: 1%;
      right: 38.5%;
      font-size: 85%;
      background-color: gray;
    }

    .Filtro-api-db{
      position: absolute;
      top: 1%;
      right: 30%;
      font-size: 102%;
      background-color:  gray ;
    }