.search-box{
    border: none;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;

}
.Create-Game{
    color: rgb(1, 0, 0);
    text-decoration: none;
    position: absolute;
    top: 1.8%;
    right: 1%;
    opacity: 70%;
    font-family: fantasy;
}
.Create-Game:hover{
    color: rgba(253, 181, 38, 0.91);
    text-decoration: none;
    font-size: 35px;
}

.Home-Cave{
    text-decoration: none;
    color: gray;
    text-align: right;
}
.Home-Cave:hover{
    color: rgb(253, 181, 38, 0.618);
    text-decoration: none;
    background-color: gray;
    border-radius: 20%;
}