.create-container {

    background-color: blueviolet;

    height:900px ;
    padding: 4em;
    border: 6px solid gray;
    /* width: 600px; */
    display: flex; 
    flex-direction: column;
    /* background-color: aqua; */
    /* border: 1px solid grey; */
    /* border-radius: 40px; */
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;


    /* text-decoration: none; */
    color: orange;
    font-size: 18px;
    background-image: url("https://e0.pxfuel.com/wallpapers/623/336/desktop-wallpaper-video-game-cool-video-game.jpg");
    background-repeat:no-repeat; 
    background-size: cover;
}
/* img{
    width: 100%;
    border-radius: 30px;
}  */
/* .head_card{
    display: flex; 
    justify-content: space-between;
    
}  */

/* .card-container:hover{
    transform: scale(1.05);
} */
